<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103733755346-d6v5uf256onfntbskb6bcgstjd48vb7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103733755346-d6v5uf256onfntbskb6bcgstjd48vb7j</string>
	<key>API_KEY</key>
	<string>AIzaSyDktU2U0tSc5BU_tphEyeOG47XXXznj830</string>
	<key>GCM_SENDER_ID</key>
	<string>103733755346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fathdotdev.airpedia</string>
	<key>PROJECT_ID</key>
	<string>airpedia-b2fb4</string>
	<key>STORAGE_BUCKET</key>
	<string>airpedia-b2fb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103733755346:ios:67dfd2b7afe47ce48d9c0b</string>
</dict>
</plist>